/*global*/
body {
    background-image: url("/photo/background3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.indexh1 {
    text-align: center;
    font-size: 50px;
    color: #F285C1;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
   margin-right: auto;
    margin-left: auto;
  }

/*navbar*/
.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa93; /* Couleur de fond */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 2px 50px rgba(176, 82, 197, 0); /* Ombre */
}

.nav-item {
  margin: 0 100px; /* Espacement horizontal entre les éléments */
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-link {
  color: rgb(52, 50, 52); /* Couleur du texte */
  text-decoration: none;
  padding: 10px; /* Espacement interne */
  transition: color 0.3s; /* Transition de couleur au survol */
}

.nav-link:hover {
  color: rgb(142, 61, 139); /* Couleur du texte au survol */
}
.nav-link.active {
  font-weight: bold; /* Exemple de style pour indiquer l'élément actif */
  color: #F285C1; /* Exemple de style pour indiquer l'élément actif */
}

/* carré déco */

    :root{
      --background-dark: #ced2dd;
      --text-light: #ffffff;
      --text-lighter: #d9d9d9;
      --spacing-s: 8px;
      --spacing-m: 16px;
      --spacing-l: 24px;
      --spacing-xl: 32px;
      --spacing-xxl: 64px;
      --width-container: 1200px;
    }
    
    *{
      border: 0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    html{
      height: 100%;
      font-family: 'Montserrat', sans-serif;
    /* font-size: 14px;*/
    }
    
    body{
      height: 100%;
    }
    
    .hero-section{
      align-items: flex-start;
      background-image: linear-gradient(15deg, #d7e0e500 0%, #f680b900 150%);
      display: flex;
      min-height: 100%;
      justify-content: center;
      padding: var(--spacing-xxl) var(--spacing-l);
    }
    
    .card-grid{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: var(--spacing-l);
      grid-row-gap: var(--spacing-l);
      max-width: var(--width-container);
      width: 100%;
    }
    
    @media(min-width: 540px){
      .card-grid{
        grid-template-columns: repeat(2, 1fr); 
      }
    }
    
    @media(min-width: 960px){
      .card-grid{
        grid-template-columns: repeat(4, 1fr); 
      }
    }
    
    .card{
      list-style: none;
      position: relative;
    }
    
    .card:before{
      content: '';
      display: block;
      padding-bottom: 150%;
      width: 100%;
    }
    
    .card__background{
      background-size: cover;
      background-position: center;
      border-radius: var(--spacing-l);
      bottom: 0;
      filter: brightness(0.75) saturate(1.4) contrast(0.85);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: center;
      transform: scale(1) translateZ(0);
      transition: 
        filter 200ms linear,
        transform 200ms linear;
    }
    
    .card:hover .card__background{
      transform: scale(1.05) translateZ(0);
    }
    
    .card-grid:hover > .card:not(:hover) .card__background{
      filter: brightness(0.7) saturate(0) contrast(1.2) blur(20px);
    }
    
    .card__content{
      left: 0;
      padding: var(--spacing-l);
      position: absolute;
      top: 0;
    }
    
    .card__category{
      color: var(--text-light);
      font-size: 0.9rem;
      margin-bottom: var(--spacing-s);
      text-transform: uppercase;
    }
    
    .card__heading{
      color: var(--text-lighter);
      font-size: 1.9rem;
      text-shadow: 2px 2px 20px rgb(131, 137, 168);
      line-height: 1.4;
      word-spacing: 100vw;
    } 

  /*footer deco*/
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f200; /* Couleur de fond du pied de page */
    padding: 10px;
    text-align: center;
    color: #555;
    background-color: #f8f9fa6f;
  }
  
  footer p {
    margin: 0; /* Supprime les marges autour du paragraphe */
  }
  
  footer a {
    color: #555; /* Couleur des liens */
    text-decoration: none; /* Supprime la décoration des liens */
    margin: 0 10px; /* Marge horizontale des liens */
  }
  
  footer a:hover {
    color: #888; /* Couleur des liens au survol */
  }
  
  footer .social-icons {
    margin-top: 10px; /* Marge supérieure des icônes sociales */
  }
  
  footer .social-icons a {
    display: inline-block; /* Affiche les icônes sociales en ligne */
    width: 30px; /* Largeur des icônes sociales */
    height: 30px; /* Hauteur des icônes sociales */
    background-color: #555; /* Couleur de fond des icônes sociales */
    color: #fff; /* Couleur du texte des icônes sociales */
    border-radius: 50%; /* Bordure arrondie des icônes sociales */
    text-align: center; /* Alignement du texte au centre des icônes sociales */
    line-height: 30px; /* Hauteur de ligne pour centrer verticalement le texte */
    margin: 0 5px; /* Marge horizontale des icônes sociales */
    text-decoration: none; /* Supprime la décoration des liens des icônes sociales */
  }
  
  footer .social-icons a:hover {
    background-color: #888; /* Couleur de fond des icônes sociales au survol */
  }
  
  